body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/*startscherm*/
.home-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  gap: 2rem;
  background: #ddd;
}

.selectors {
  display: flex;
  gap: 2rem;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

#compare-btn {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 1rem;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
#compare-btn:hover {
  background-color: #555;
}

/*vergelijking*/
.compare-view {
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  background: #000;
  position: relative;
}

.compare-track {
  display: flex;
  flex-direction: column; 
  width: max-content;
  height: 100vh;
}

.country-img {
  display: block;
  height: 50vh; 
  width: auto;
  pointer-events: none;
  user-select: none;
}

/*terugknop*/
.back-btn {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 10;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 0.6rem;
  background: #333;
  color: #fff;
  cursor: pointer;
}
.back-btn:hover {
  background: #555;
}

/* scrollbar verbergen in alle browsers */
.compare-view {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
.compare-view::-webkit-scrollbar {
  display: none;            
}

.compare-track {
  position: relative;
}

.tree {
  position: absolute;
  z-index: 5;           
  height: auto;
  pointer-events: none; 
  user-select: none;
  width: 200px;
  height: auto;
}
